# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Gym Profile Info
NEXT_PUBLIC_GYM_NAME="Line Up Gym"
NEXT_PUBLIC_GYM_PHONE="08xx-xxxx-xxxx"
NEXT_PUBLIC_GYM_ADDRESS="Alamat Gym Anda"
NEXT_PUBLIC_GYM_INSTAGRAM="instagram_gym"
NEXT_PUBLIC_GYM_CLOSE_TIME="21:00"
